html {

}

body {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#main {
  /* background-color: green; */
  text-align: center;
}

#columns {
 display: flex;
 height: 100%;
}

#searchResults {
  /* background-color: blue; */
  flex: 3;
}

#list {
  /* background-color: red; */
  flex: 2;
}


.details {
  display: none;
}
