html {

}

body {
  height: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  /* overflow: hidden; */
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main {
  /* background-color: green; */
  text-align: center;
  font-size: 36px;
}

#columns {
 display: flex;
 height: 100%;

}

#searchResults {
  /* background-color: blue; */
  flex: 3;
  flex-shrink: 0;
  /* height: 2000px;
  overflow-y: auto; */
}

#list {
  /* background-color: red; */
  flex: 2;
  flex-shrink: 0;
  /* height: 2000px;
  overflow-y: auto; */
}

.results {

}

h3 {
  /* width: 0; */
}

.details {
  display: none;
}

#draggable {
  /* width: 150px;
  height: 150px;  */
  /* padding: 0.5em; */
  /* background-color: green; */
}
